@import url('./__triangle/kaufman__triangle.css');

.kaufman {
    display: flex;
    background-color: #1f1f1f;
    justify-content: center;
    flex-wrap: wrap;
    overflow: hidden;
    position: relative;
  }